.root {
    border-bottom: 1px solid var(--color-border);
    padding: 24px 0;
}

.root:last-child {
    border-bottom: none;
}

.tags {
    margin-bottom: 12px;
}

.title {
    margin-bottom: 12px;

    a {
        color: var(--color-text) !important;
        text-decoration: none;
    }
}

.excerpt {
    margin-bottom: 12px;

    :global {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: 22px;
        }
    }
}

.separator {
    margin-bottom: 18px;
}
