.root {
    line-height: 1.6;

    :global {
        blockquote {
            position: relative;
            padding-left: 24px;
            color: #666;
        }

        blockquote::before {
            content: "";
            position: absolute;
            top: 6px;
            bottom: 6px;
            left: 0;
            width: 6px;
            border-radius: 2px;
            background: linear-gradient(
                to bottom,
                var(--color-secondary),
                var(--color-primary)
            );
        }

        code {
            background: rgba(0, 0, 0, 0.06);
            color: var(--color-text);
            border-radius: 4px;
            max-width: 100%;
            font-size: 0.8em;
            padding: 0.1em 0.25em;
        }

        ol,
        ul {
            padding-left: 1.5em;
        }

        li {
            margin: 8px 0;
        }

        // Tables
        table {
            border-collapse: separate;
            border-spacing: 0;
            margin: 1.5em 0;
            width: 100%;
            border-radius: 0.3em;
            box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
            background: var(--mauve-2);
            overflow: hidden;
            border: 1px solid var(--color-border, rgba(0, 0, 0, 0.1));
        }

        th,
        td {
            border-right: 1px solid var(--color-border, rgba(0, 0, 0, 0.1));
            border-bottom: 1px solid var(--color-border, rgba(0, 0, 0, 0.1));
            padding: 0.5em;
        }

        th:first-child,
        td:first-child {
            border-left: none;
        }

        th:last-child,
        td:last-child {
            border-right: none;
        }

        thead tr:first-child th:first-child {
            border-top-left-radius: 0.3em;
        }

        thead tr:first-child th:last-child {
            border-top-right-radius: 0.3em;
        }

        tbody tr:last-child td {
            border-bottom: none;
        }

        tbody tr:last-child td:first-child {
            border-bottom-left-radius: 0.3em;
        }

        tbody tr:last-child td:last-child {
            border-bottom-right-radius: 0.3em;
        }

        // Handle case where table has no thead
        tr:first-child td:first-child {
            border-top-left-radius: 0.3em;
        }

        tr:first-child td:last-child {
            border-top-right-radius: 0.3em;
        }

        tr:last-child td {
            border-bottom: none;
        }

        tr:last-child td:first-child {
            border-bottom-left-radius: 0.3em;
        }

        tr:last-child td:last-child {
            border-bottom-right-radius: 0.3em;
        }

        th {
            font-weight: 600;
            text-align: left;
        }

        // Separators

        hr {
            background: linear-gradient(
                to right,
                var(--color-secondary),
                var(--color-primary)
            );
            height: 4px;
            width: 120px;
            display: block;
            border: none;
            margin: 1.5em 0;
        }

        /* Code blocks */

        code[class*="language-"],
        pre[class*="language-"] {
            display: block;
            background: var(--color-code-bg);
            color: var(--color-code-fg);
            text-shadow: 0 1px rgba(0, 0, 0, 0.3);
            font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
                monospace;
            text-align: left;
            white-space: pre;
            word-spacing: normal;
            word-break: normal;
            word-wrap: normal;
            line-height: 1.5;
            -moz-tab-size: 4;
            -o-tab-size: 4;
            tab-size: 4;
            -webkit-hyphens: none;
            -moz-hyphens: none;
            -ms-hyphens: none;
            hyphens: none;
        }

        /* Code blocks */
        pre[class*="language-"] {
            padding: 1em;
            margin-bottom: 1.5em;
            overflow: auto;
            border-radius: 0.3em;
        }

        & :not(pre) > code[class*="language-"],
        & pre[class*="language-"] {
            box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
            // border: 1px solid var(--color-border);
        }

        /* Inline code */
        & :not(pre) > code[class*="language-"] {
            padding: 0.1em;
            border-radius: 0.3em;
            white-space: normal;
        }

        & .token.comment,
        & .token.prolog,
        & .token.doctype,
        & .token.cdata {
            color: #6272a4;
        }

        & .token.punctuation {
            color: #f8f8f2;
        }

        & .namespace {
            opacity: 0.7;
        }

        & .token.property,
        & .token.tag,
        & .token.constant,
        & .token.symbol,
        & .token.deleted {
            color: #ff79c6;
        }

        & .token.boolean,
        & .token.number {
            color: #bd93f9;
        }

        & .token.selector,
        & .token.attr-name,
        & .token.string,
        & .token.char,
        & .token.builtin,
        & .token.inserted {
            color: #50fa7b;
        }

        & .token.operator,
        & .token.entity,
        & .token.url,
        .language-css .token.string,
        .style .token.string,
        .token.variable {
            color: #f8f8f2;
        }

        .token.atrule,
        .token.attr-value,
        .token.function,
        .token.class-name {
            color: #f1fa8c;
        }

        .token.keyword {
            color: #8be9fd;
        }

        .token.regex,
        .token.important {
            color: #ffb86c;
        }

        .token.important,
        .token.bold {
            font-weight: bold;
        }

        .token.italic {
            font-style: italic;
        }

        .token.entity {
            cursor: help;
        }
    }
}
