@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/crimson.css";
@import "@radix-ui/colors/slate-dark.css";
@import "@radix-ui/colors/mauve-dark.css";
@import "@radix-ui/colors/indigo-dark.css";
@import "@radix-ui/colors/crimson-dark.css";

:root,
.dark-theme {

    // Font Sack
    --font-sans:  system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;

    --font-serif-display: "DMSerifDisplay", Palatino, Palladio,
        "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style",
        "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond",
        "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook",
        "Century Schoolbook L", Georgia, serif;

    --font-serif-text: "Forum", Palatino, Palladio, "URW Palladio L",
        "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter",
        "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow",
        "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L",
        Georgia, serif;

    --color-text: var(--mauve-12);
    --color-bg: var(--mauve-1);
    --color-section: var(--indigo-12);
    --color-section-contrast: var(--indigo-1);
    --color-section-highlight: var(--indigo-5);
    --color-border: var(--indigo-11);
    --color-primary-fade: var(--crimson-3);
    --color-primary: var(--crimson-9);
    --color-secondary: var(--indigo-9);
    --color-secondary-fade: var(--indigo-3);
    --color-secondary-edge: var(--indigo-7);
    --color-meta: hsl(206deg 7.18% 28.91%);

    // I don't have dark/light variants of colors wired up yet for these
    --color-code-bg: #111b27;
    --color-code-fg: #f8f8f2;

    // Forms
    --form-bg-color: var(--indigo-3);
    --form-bg-active-color: var(--indigo-4);
    --form-placeholder-color: var(--indigo-6);
    --form-fg-color: var(--indigo-12);
    --form-border-color: var(--indigo-7);

    // https://www.joshwcomeau.com/shadow-palette/
    --shadow-color: 0deg 0% 0%;
    --shadow: 0.1px 0.5px 0.6px hsl(var(--shadow-color) / 0.07),
        0.2px 2px 2.5px -0.5px hsl(var(--shadow-color) / 0.09),
        0.5px 4.5px 5.7px -1px hsl(var(--shadow-color) / 0.11),
        1.2px 10.3px 13.1px -1.5px hsl(var(--shadow-color) / 0.13);
    // --shadow: 0 4px 2px rgba(0, 0, 0, 0.1), 0 10px 6px rgba(0, 0, 0, 0.2),
    // 0 30px 20px rgba(0, 0, 0, 0.3);
    --shadow-filter: drop-shadow(
            0.1px 0.5px 0.5px hsl(var(--shadow-color) / 0.41)
        )
        drop-shadow(0.2px 1.4px 1.5px -1px hsl(var(--shadow-color) / 0.37))
        drop-shadow(0.4px 3.8px 4px -2px hsl(var(--shadow-color) / 0.33))
        drop-shadow(0.1px 9.7px 10.2px -3px hsl(var(--shadow-color) / 0.3));

    --color-blur-bg: rgba(255, 255, 255, 0.4);
    --color-blur-bg-active: rgba(0, 0, 0, 0.1);
    --color-blur-border: rgba(0, 0, 0, 0.2);
    --color-blur-fg: var(--mauve-12);
}

.dark-theme {
    --color-section: var(--mauve-2);
    --color-section-contrast: var(--mauve-12);
    --color-section-highlight: var(--indigo-11);
    --color-meta: hsl(208, 49%, 85%);
    --color-secondary: var(--indigo-10);
    --color-secondary-fade: var(--indigo-1);
    --color-secondary-edge: var(--indigo-7);
    --shadow-filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.1))
        drop-shadow(0 10px 6px rgba(0, 0, 0, 0.2))
        drop-shadow(0 30px 20px rgba(0, 0, 0, 0.3));

    // Forms
    --form-bg-color: var(--mauve-3);
    --form-bg-active-color: var(--mauve-4);
    --form-placeholder-color: var(--mauve-11);
    --form-fg-color: #fff;
    --form-border-color: var(--mauve-3);

    --color-blur-bg: rgba(0, 0, 0, 0.6);
    --color-blur-bg-active: rgba(255, 255, 255, 0.05);
    --color-blur-border: rgba(255, 255, 255, 0.2);
    --color-blur-fg: #fff;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--font-sans);
    font-size: 18px;
    color: var(--color-text);
    min-height: 100%;
    line-height: 1;
    background: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-serif-display);
    margin-bottom: 0.5em;
}

p {
    line-height: 1.6;
    margin-bottom: 0.5em;
}

button {
    all: unset;
}

a {
    color: inherit;
    text-decoration: underline;

    &:hover,
    &:active,
    &:focus {
        text-decoration: underline !important;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
}

#__next {
    min-height: 100%;
}

a {
    color: var(--color-secondary);
}

a:hover,
a:focus,
a:active,
a:visited {
    color: var(--color-secondary);
    text-decoration: underline;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
