.BigHeader {
    position: relative;
    font-size: inherit;
}

.BigHeaderContent {
    font-size: 32px;
}

.viewLink {
}


.separator {
    background: linear-gradient(
        to right,
        var(--color-primary),
        var(--color-secondary)
    );
    height: 3px;
    border-radius: 5px;
    width: 80px;
    display: block;
    border: none;
    margin: 0.5em 0;
}
