.BigHeader {
    position: relative;
    margin-bottom: 24px;
    font-size: inherit;
}

.BigHeaderContent {
    font-size: 32px;
}

.viewLink {
}


.separator {
    background: linear-gradient(
        to right,
        var(--blue9),
        var(--crimson9)
    );
    height: 4px;
    width: 80px;
    display: block;
    border: none;
    margin: 0.5em 0;
}
